<!DOCTYPE html>
<html>
    <head>
        <title>Seinfeld Local Cuisine</title>
        <style>
        #map {
            height: 400px;
            width: 100%;
            background-color: grey;
          }
          </style>
          <script type="text/javascript">

            </script>
        
    </head>

    <header class="subpage-header">
        <h1>Seinfeld Food Locator</h1>
    </header>

    <body>
        <nav class="nav-bar">
            <ol>
                <li><a href="/">Home Page</a></li>
                <li><a href="/character-chat">Character Bot</a></li>
                <li><a href="/where-are-they-now">Where Are They Now?</a></li>
                <li><a href="/festivus">Festivus Countdown</a></li>
            </ol>
        </nav>


        <div class="page-description">
            <p>The show Seinfeld often uses food as a plot device. Sometimes the 
                foods sound tasty, or maybe the show is the first time you're hearing
                about this type of thing. Use the local search to see where cuisine
                and items mentioned on the show are available near you.</p>
        </div>

        <div class="food-locate-form">
            <h3>Dine Like the Characters!</h3>
            <form action="/zip-code">
                <label name="zip-code">Your zip code: </label>
                <input type="text" id="zip-code" name="zip-code" pattern="[0-9]{5,5}" maxlength="5">
                <text name="zip-user-input" id="zip-user-input"></text>
                        
                <p><em>* 10 mile radius</em></p><br>
                <input type="submit" value="submit" id="button">
                <br>
                <br>
            </form>
        </div>
        {% if zip_code_search %}
        <div class="food-results">
            <h2>Places: </h2>
            <ul>
               
            {% for key, value in dict_of_businesses.items() %}
                <li>{{ key[0] }}: {{ value[0] }} {{ value[1][0] }}, {{ value[1][1] }}</li>
            {% endfor %}
        
            </ul>
        </div>
        {% endif %}
    </body>

    <div id="map">
    </div>
        <script type="text/javascript" src="static/js/sein_maps.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=API&callback=initMap">
        </script>
</html>